.App{
    background-color:aliceblue;
    align-items: center;
    margin: 5% 30%;
}
.tilte{
    color:white;
    align-items:center;
    text-align: center;
    margin-top: 80px;
    font-family:cursive;
}